# React Native
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/.cxx/
*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcshareddata/
ios/*.xcodeproj/xcshareddata/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Watchman
.watchmanconfig

# Metro
.expo/
.expo-shared/
babel.config.js

# Misc
*.log
*.tmp
*.swp
*.swo
.idea/
.vscode/
